<div *ngIf="globalService.maskHidde" class="loading">
  <div>
    <img style="width: 2em;height: 2em;" src="images/loading.gif">
  </div>
</div>
<div *ngIf="maskError" (click)="maskError=false" class="maskError">
  <div class="maskError-box">
    <p>{{errorText}}</p>
    <p class="luckText" *ngIf="luckCodeCount" style=" font-size: 1.2rem;">
      恭喜您获得<font color="red" style=" font-size: 1.2rem;">{{luckCodeCount}}</font>个中奖码
    </p>
    <a *ngIf="luckCodeCount" class="luckText" ui-sref="myActivity">
      <font style=" font-size: 1rem;" color='blue'>点击查看</font>
    </a>
  </div>
</div>
<div *ngIf="isShowMaskError" class="maskErrorDl">
  <div class="maskErrorDl-box">
    <p>{{errorText}}</p>
    <a (click)="isShowMaskError=false" href="">知道了</a>
  </div>
</div>
<router-outlet></router-outlet>